@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

header {
    background-color: #270a91ee;
    padding: 20px;
    text-align: center;
    color: #fcfafa;
    max-width: 100%;
    
}

h1 {
    color: #fcfafa;
    font-size: 4em;
    text-align: center;
    font-family: 'Mooli', Arial, Helvetica, sans-serif;
}
h2 {
    color: #111111;
    font-size: 2em;
    text-align: center;
    font-family: 'Mooli', Arial, Helvetica, sans-serif;
}
.gallery {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
img {
    max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    
}
nav {
    padding: 10px;
    text-align: center;
    color: #fff;
}

#menu {
    font-size: 2em;
    color: #fcfafa;
    cursor: pointer;
    margin-bottom: 10px;
    list-style: none;
    background-color: #270a91b0;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0 10px;
    border-radius: 0;
    font-family: inherit;
    transition: background 0.2s;
    display: block;
}
nav {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fcfafa;
}
#mainnav {
    list-style: none;
    display: none;
}
#mainnav.show {
    display: block;
}

nav ul {
  list-style: none;      
  padding: 0;
  margin: 0;
  display: none;
}

nav ul li {
  display: block;        
  margin-bottom: 10px;   
}

nav ul li a {
  text-decoration: none;
  color: #fcfafa;
}
footer {
    background-color: #270a91b0;
    padding: 20px;
    color: #fcfafa;
}
@media screen and (min-width: 700px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  

}
@media screen and (min-width: 1000px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #menu {
    display: none;
  }
  #mainnav {
    display: block;
  }
}
